<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerService</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/maskedinput")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Styles.Render("~/Content/css")


    <!--Перенести с отдельный файл, а лучше вовсе избавиться-->
    <style media="screen">
        body {
            margin: 0;
            padding: 0;
            background: #dcdcdc;
            padding-top: 4.5rem;
        }

        .Client {
        }

        .ClientPanel {
            height: auto;
            width: 700px;
            border: black solid 2px;
            margin: 3px;
            margin: 1.5px auto;
            border-radius: 3px;
        }

        .Sidebar {
            height: 100vh;
            width: 75px;
            border: black solid 2px;
            margin: 0px 4px 0px 0px;
            position: fixed;
            top: 0;
            left: 0;
        }

        .ClientTable {
            border: none;
            border-spacing: 10px 2px;
            text-align: left;
        }

        .ClientDropDown {
            width: 683px;
            display: none;
        }

        .ClientDropDownTable {
            border-collapse: separate;
            border: none;
            border-spacing: 20px 0px;
            text-align: left;
            font-size: 15px;
        }

        .ClientDropDownTable td {
            padding-left: 0;
            text-align: center;
        }
        td, th {
            padding: 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Домашняя</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Customers", "Home")">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Orders", "Home")">Заказы</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div><script>
                    // для тестов это пока побудет здесь, а не в отдельном файле

        function getBlockId(trgt) {
            return trgt.closest(".ClientPanel").id;
        }
                    $(document).on("click", function (event) {
                        var target = event.target;
                        switch (target.className) {
                            case 'ShowHideDropDownButton':
                                var clientPanel = $(target).parents('.Client');
                                if (target.id == 'hidden') {
                                    clientPanel.children('.ClientDropDown').css("display", "block");
                                    target.id = 'nothidden';
                                    $(target).html('Скрыть заказы');
                                }
                                else {
                                    clientPanel.children('.ClientDropDown').css("display", "none");
                                    target.id = 'hidden';
                                    $(target).html('Заказы...');
                                }
                            break;
                            case 'dropdown-item':
                                switch ($(target).attr('id')) {
                                    case 'dropdownBought':
                                        var statusButton = $(target).parents('.dropdown').children('#dropdownMenuLink')
                                        $(statusButton).html("Куплен");
                                        $(statusButton).css("background-color", "green");
                                        var blockId = getBlockId(target);
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("SetOrderStatus", "API")',
                                            data: { id: blockId, param: "Куплен"},
                                            success: function (data) {
                                                if (data.includes("ERROR")) {

                                                }
                                            }
                                        });
                                        break;
                                    case 'dropdownBlocked':
                                        var statusButton = $(target).parents('.dropdown').children('#dropdownMenuLink')
                                        $(statusButton).html("Заблокирован");
                                        $(statusButton).css("background-color", "red");
                                        var blockId = getBlockId(target);
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("SetOrderStatus", "API")',
                                            data: { id: blockId, param: "Заблокирован" },
                                            success: function (data) {
                                                if (data.includes("ERROR")) {

                                                }
                                            }
                                        });
                                        break;
                                    case 'dropdownReturned':
                                        var statusButton = $(target).parents('.dropdown').children('#dropdownMenuLink')
                                        $(statusButton).html("Возвращен");
                                        $(statusButton).css("background-color", "DarkBlue");
                                        var blockId = getBlockId(target);
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("SetOrderStatus", "API")',
                                            data: { id: blockId, param: "Возвращен"},
                                            success: function (data) {
                                                if (data.includes("ERROR")) {

                                                }
                                            }
                                        });
                                        break;
                                }
                                break;
                        }
                        switch (target.className) {
                            case 'ChangeableName':
                                var input = $('<input />');
                                var targettext = $(target).text();
                                input.val(targettext);
                                var blockId = getBlockId(target);
                                target.replaceWith($(input)[0]);
                                var save = function () {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("SetCustomerName", "API")',
                                        data: { id: blockId, param: input.val() },
                                        success: function (data) {
                                            if (data.includes("ERROR")) {
                                                var th = $('<th class="ChangeableName"/>').html(targettext);
                                                input.replaceWith(th);
                                            }
                                            else {
                                                var th = $('<th class="ChangeableName"/>').html(input.val());
                                                input.replaceWith(th);
                                            }
                                        }
                                    });
                                };
                                input.one('blur', save).focus();
                                break;
                            case 'ChangeableAmount':
                                var input = $('<input />');
                                var targettext = $(target).text();
                                input.val(targettext);
                                var blockId = getBlockId(target);
                                target.replaceWith($(input)[0]);
                                var save = function () {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("SetOrderValue", "API")',
                                        data: { id: blockId, param: input.val(), makevalid: $("#makevalidSwitch").prop("checked")},
                                        success: function (data) {
                                            if (data.includes("ERROR")) {
                                                var th = $('<th class="ChangeableAmount"/>').html(targettext);
                                                input.replaceWith(th);
                                            }
                                            else {
                                                var th = $('<th class="ChangeableAmount"/>').html(input.val());
                                                input.replaceWith(th);
                                            }
                                        }
                                    });
                                };
                                input.one('blur', save).focus();
                                break;
                            case 'ChangeablePhone':
                                var input = $('<input />');
                                input.mask("+7(999)999-99-99");
                                var targettext = $(target).text();
                                input.val(targettext);
                                var blockId = getBlockId(target);
                                target.replaceWith($(input)[0]);
                                var save = function () {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("SetCustomerPhone", "API")',
                                        data: {id: blockId, param: input.val()},
                                        success: function (data) {
                                            if (data.includes("ERROR")) {
                                                var th = $('<th class="ChangeablePhone"/>').html(targettext);
                                                input.replaceWith(th);
                                            }
                                            else {
                                                var th = $('<th class="ChangeablePhone"/>').html(input.val());
                                                input.replaceWith(th);
                                            }
                                        }
                                    });
                                };
                                input.one('blur', save).focus();
                                break;
                            case 'ChangeableDate':
                                var input = $('<input />');
                                input.mask("99.99.9999");
                                var targettext = $(target).text();
                                input.val(targettext);
                                var blockId = getBlockId(target);
                                $(target).replaceWith($(input)[0]);
                                var save = function () {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("SetCustomerBirdate", "API")',
                                        data: {id: blockId, param: input.val()},
                                        success: function (data) {
                                            if (data.includes("ERROR")) {
                                                var th = $('<th class="ChangeableDate"/>').html(targettext);
                                                input.replaceWith(th);
                                            }
                                            else {
                                                var th = $('<th class="ChangeableDate"/>').html(input.val());
                                                input.replaceWith(th);
                                            }
                                        }
                                    });
                                };
                                input.one('blur', save).focus();
                                break;
                            case 'ChangeableOrderDate':
                                var input = $('<input />');
                                input.mask("99.99.9999");
                                var targettext = $(target).text();
                                input.val(targettext);
                                var blockId = getBlockId(target);
                                $(target).replaceWith($(input)[0]);
                                var save = function () {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("SetOrderRegdate", "API")',
                                        data: {id: blockId, param: input.val()},
                                        success: function (data) {
                                            if (data.includes("ERROR")) {
                                                var th = $('<th class="ChangeableOrderDate"/>').html(targettext);
                                                input.replaceWith(th);
                                            }
                                            else {
                                                var th = $('<th class="ChangeableOrderDate"/>').html(input.val());
                                                input.replaceWith(th);
                                            }
                                        }
                                    });
                                };
                                input.one('blur', save).focus();
                                break;
                            case 'ChangeableEmail':
                                var input = $('<input type="email"/>');
                                var targettext = $(target).text();
                                input.val(targettext);
                                var blockId = getBlockId(target);
                                target.replaceWith($(input)[0]);
                                var save = function () {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("SetCustomerEmail", "API")',
                                        data: {id: blockId, param: input.val()},
                                        success: function (data) {
                                            if (data.includes("ERROR")) {
                                                var th = $('<th class="ChangeableEmail"/>').html(targettext);
                                                input.replaceWith(th);
                                            }
                                            else {
                                                var th = $('<th class="ChangeableEmail"/>').html(input.val());
                                                input.replaceWith(th);
                                            }
                                        }
                                    });
                                };
                                input.one('blur', save).focus();
                                break;
                        }



                    });
</script>


    @RenderSection("Scripts", required: false)
</body>
</html>
