@model System.Xml.XmlElement
@{ 
    string coid = Model.GetAttribute("coid");
    string status = WebApplication1.Tools.XmlWorks.getOrderStatusByCoid(coid);
    string customer = WebApplication1.Tools.XmlWorks.getCustomerNameByCoid(coid);
    string value = WebApplication1.Tools.XmlWorks.getOrderValueByCoid(coid);
    string regdate = WebApplication1.Tools.XmlWorks.getOrderRegdateByCoid(coid);

    string color = ""; if (status == "Куплен") { color += "green;"; } else if (status == "Возвращен") { color += "DarkBlue;"; } else { color += "Red;"; }

}
<div class="ClientDropDown ClientPanel">
    id: @Model.GetAttribute("coid")
    <table class="ClientDropDownTable">
        <tr>
            <th class="ChangeableStatus">
                <div class="StatusDropdown">
                    <div class="dropdown">
                        <a class="btn btn-secondary" href="#" style="background-color: @color" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">@status</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" id="dropdownBlocked" href="#">Заблокирован</a>
                            <a class="dropdown-item" id="dropdownBought" href="#">Куплен</a>
                            <a class="dropdown-item" id="dropdownReturned" href="#">Возвращен</a>
                        </div>
                    </div>
                </div>
            </th>
            <th class="ChangeableName">@customer</th>
            <th class="ChangeableAmount">@value</th>
            <th class="ChangeableDate">@regdate</th>
        </tr>
    </table>
</div>
