@model System.Xml.XmlElement
@{
    string oid = Model.GetAttribute("oid");
    string status = Model.GetAttribute("Status");
    string cid = Model.GetAttribute("Customer");
    string customer = WebApplication1.Tools.XmlWorks.getCustomerNameByCid(cid);
    string value = Model.GetAttribute("Value");
    string regdate = Model.GetAttribute("Regdate");

    string color = ""; if (status == "Куплен") { color += "green;"; } else if (status == "Возвращен") { color += "DarkBlue;"; } else { color += "Red;"; }

}
<div class="ClientDropDown ClientPanel" id="@oid" style="display: block;">
    <div><button class="InreversibleOption" onclick="removeOrder(@oid)">Удалить</button> id: @oid </div>
    <table class="ClientDropDownTable">
        <tr>
            <td>Статус</td>
            <td>Имя</td>
            <td>Cid</td>
            <td>Сумма</td>
            <td>Дата</td>
        </tr>
        <tr>
            <th class="ChangeableStatus">
                <div class="StatusDropdown">
                    <div class="dropdown">
                        <a class="btn btn-secondary" href="#" style="background-color: @color" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">@status</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" id="dropdownBlocked" href="#" onclick="return false">Заблокирован</a>
                            <a class="dropdown-item" id="dropdownBought" href="#" onclick="return false">Куплен</a>
                            <a class="dropdown-item" id="dropdownReturned" href="#" onclick="return false">Возвращен</a>
                        </div>
                    </div>
                </div>
            </th>
            <th class="">@customer</th>
            <th class="">@cid</th>
            <th class="ChangeableAmount">@value</th>
            <th class="ChangeableOrderDate">@regdate</th>
        </tr>
    </table>
</div>

